$font-style-title: "ebrimabd", sans-serif;
$font-style-describle: "ebrima", sans-serif;

/* ----- Top -----------*/
$header-font-color: #fff;
$header-cost-font-color: #f7941d;
$header-link-bg: #f7941d;

/* ----- Info -----------*/
$info-border-color:#F26522;

/* ----- Academy --------*/
$academy-font-color: #fff;
$academy-background: #252525;
$academy-btn-background:#f7941d;

/* ----- Work -----------*/
$work-font-color: #fff;
$work-btn-background:#f7941d;

/* ----- Form -----------*/
$form-background:#252525;
$form-btn-background:#f7941d;
$form-font-color: #fff;
$form-input-font-color: #000;

/* ----- Footer ------*/
$footer-background: #000;
$footer-font-color: #fff;