/* -----IMPORTS FONTS---- */
@font-face {
    font-family: "ebrima";
    src: url(./ebrima.ttf) format("truetype");
}
@font-face {
    font-family: "ebrimabd";
    src: url(./ebrimabd.ttf) format("truetype");
}

/* -----IMPORTS FILES---- */
@import "veriables";
@import "mixin";
@import "reset";
@import "header";
@import "info";
@import "academy";
@import "work";
@import "calendar";
@import "footer";

.row-no-padding {
    [class*="col-"] {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
.cotainer-wrapper{
    width:100%;
    overflow: hidden;
}